services:
  miratts:
    build: .
    container_name: miratts_api
    runtime: nvidia
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
      # Map your local folder of .wav files to the container's voices folder
      - ./data/voices:/app/data/voices
    environment:
      - HF_HOME=/app/models
      - MODEL_DIR=YatharthS/MiraTTS
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped